<div class="sort">
    <ul class="sort">
        <li><a href="/<%=pagetype%>?sort=title">Sort by Title</a></li>
        <li><a href="/<%=pagetype%>?sort=author">Sort by Author</a></li>
    </ul>
</div>