<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<body>
    <%- include("partials/navbar")%>
    <h1>Books</h1>
    <p>This is my books page that displays a list of books</p>
    <a href="/books/new">Add a book</a>
</body>
</html>