<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Branches</title>
    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="/navbar.css">
</head>
<body>
    <%- include("partials/navbar")%>
    <h1>Branches</h1>
    <p>This will display a list of branches</p>
    <% if (branches && branches.length > 0) {%>
        <ul>
            <% branches.forEach(branch => {%>
                <li><a href="/branches/<%= branch.name%>"><%=branch.name%></a></li>
            <%})%>
        </ul>
    <%}%>
    <a href="/branches/new">Add a branch</a>
</body>
</html>