<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Branches</title>
    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="/navbar.css">
</head>
<body>
    <%- include("partials/navbar")%>
    <h1>Branches</h1>
    <% if (branches && branches.length > 0) {%>
        <ul class="list">
            <% branches.forEach(branch => {%>
                <li>
                    <div>
                        <a href="/branches/<%= branch.name%>"><%=branch.name%></a>
                        <form action="/branches/<%=branch.id%>/delete"><button class="delete">Delete</button></form>
                    </div>
                </li>
            <%})%>
        </ul>
    <%} else {%>
        <p>There are no branches setup. Add some to get started.</p>
    <%}%>
    <a href="/branches/new">Add a branch</a>
</body>
</html>