<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Branch</title>
    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="/navbar.css">
</head>
<body>
    <%- include("partials/navbar")%>
    <h1>Add a Branch</h1>
    <%- include("partials/errors")%>
    <form action="/branches/new" method="post">
        <label for="branchName">Branch Name:</label>
        <input type="text" id="branchName" name="branchName">
        <button type="submit">Submit</button>
    </form>
    <a href="/branches">Back</a>
</body>
</html>