<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Branch</title>
</head>
<body>
    <%- include("partials/navbar")%>
    <h1>Add a Branch</h1>
    <p>his will load the form to add a branch</p>
    <a href="/branches">Back</a>
</body>
</html>